.App {
  text-align: center;
}

body {
  background-color: #4682B4;
}

#drum-machine {
  border: 3px solid maroon;
  margin: auto;
  margin-top: 100px;
  width: 50%;
  height: 310px;
  background-color: #B0C4DE;
}

#keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

button {
  border-radius: 10px;
  background-color: maroon;
  color: white;
  width: 75px;
  outline: none;
}

button:hover {
  background-color: #CD5C5C;
}

.drum-pad {
  font-size: 40px;
}

#desc {
  height: 30px;
  width: 200px;
  background-color: white;
  float: right;
  margin-right: 100px;
  margin-top: -140px;
  border-radius: 10px;
}

#heading {
  margin-left: 15px;
}

p {
  text-align: center;
  margin-top: 3px;
}

h3, p {
  font-family: 'Poppins';
}

i {
  color: maroon;
}
